:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.card {
  max-width: 1600px;
  flex: 1 1 auto;
  background-color: var(--mat-sys-surface-container);
  border-radius: 4px;
  box-shadow:
    0px 1px 1px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.card-title {
  font-weight: bold;
}

.card-title {
  padding-bottom: 0.5rem;
}

.card span,
.seccion-analisis p span {
  font-weight: bold;
}

.campos-seleccion {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.campo-archivo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  .boton-campo-archivo {
    position: relative;
    height: 56px;
    width: 212px;
    font-size: medium;
    font-weight: normal;
    label {
      cursor: pointer;
      position: absolute;
      top: -16px;
      left: -54px;
      width: 212px;
      height: 56px;
      z-index: 1;
    }
    input {
      display: contents;
    }
  }
}

.nombre-archivo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

main {
  flex-grow: 1;
  padding: 3rem;
}

.seccion-analisis,
.seccion-historial {
  overflow: hidden;
  padding: 3rem 3rem 0;
  display: flex;
  p {
    margin: 0.5rem 0;
  }
}

.seccion-historial,
.datos-almacenados {
  flex-direction: column;
  gap: 1.5rem;
}

.datos-almacenados {
  display: flex;
}

.seccion-analisis {
  gap: 6rem;
}

.configuracion,
.resultados {
  flex: 1 1 auto;
}

.configuracion {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 600px;
  min-width: 500px;
}

.opciones,
.datos,
.resultados {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.opciones {
  align-items: flex-start;
}
.datos {
  width: 100%;
  align-items: flex-start;
}
.datos-campos {
  display: flex;
  gap: 1.5rem;
  align-items: start;
  flex-wrap: wrap;
}

.campo-textarea {
  width: 100%;
}
textarea {
  min-height: 80px;
}

.resultados {
  max-width: 1000px;
  min-width: 500px;
}

.boton,
.boton-campo-archivo {
  border-radius: 4px;
}

.boton {
  font-size: medium;
}

.botones {
  display: flex;
  gap: 1.5rem;
}

form {
  display: contents;
}

@media (min-width: 960px) and (max-width: 1280px) {
  .seccion-analisis,
  .seccion-historial {
    flex-wrap: wrap;
    gap: 3rem;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .seccion-analisis,
  .seccion-historial {
    padding: 1.5rem 1.5rem 0;
    flex-wrap: wrap;
    gap: 3rem;
  }
}

@media (max-width: 600px) {
  .seccion-analisis,
  .seccion-historial {
    flex-direction: column;
    padding: 1.5rem 0 0;
  }
  .seccion-analisis,
  .configuracion {
    gap: 1.5rem;
  }
}
