:host {
  display: contents;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: var(--mat-sys-inverse-primary);
  padding: 3rem;
  > span {
    font-weight: bold;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li {
  display: contents;
}

a,
li > span {
  width: 300px;
  text-decoration: none;
  color: var(--mat-sys-primary);
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

a:hover,
li > span:hover {
  text-decoration: none;
  color: var(--mat-sys-on-surface);
  transform: scale(1.025);
  cursor: pointer;
}
