:host {
  display: contents;
}

.tabla-resultados,
.resumen-estadistico {
  background-color: var(--mat-sys-surface-container);
  box-shadow:
    0px 1px 1px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.resumen-estadistico {
  display: flex;
  .resumen-columna:not(:nth-child(2)) div,
  .resumen-columna:nth-child(2) div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.resumen-columna {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  text-align: center;
  > div:first-child {
    border-bottom: 1px solid var(--mat-sys-outline);
    font-weight: bold;
    height: 56px;
    padding: 0 1rem;
  }
  > div:last-child {
    flex: 1 1 auto;
    min-height: 56px;
  }
}

table {
  border-radius: 4px;
  background-color: transparent;
}

tr {
  font-size: medium;
  &:last-child td {
    border-bottom-right-radius: 4px;
  }
  td:first-child {
    display: grid;
  }
}

th {
  font-weight: bold;
  &:last-child {
    border-top-right-radius: 4px;
  }
  &:not(:first-child) {
    text-align: end;
  }
}

td:not(:first-child) {
  text-align: end;
}

.comentario p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.comentario-full p {
  white-space: normal;
}

th:last-child,
td:last-child {
  background-color: var(--mat-sys-surface-container);
}

@media (min-width: 600px) and (max-width: 960px) {
  .resumen-estadistico {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .resumen-estadistico {
    flex-direction: column;
  }
}
