:host {
  display: contents;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mat-sys-inverse-primary);
  padding: 2rem 3rem;
  flex-wrap: wrap;
  gap: 3rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional: adds a subtle shadow to separate from content */
}

h1 {
  margin: 0;

  span:first-child {
    font-weight: normal;
  }
}

.campos-seleccion {
  display: flex;
  gap: 1.5rem;
}

@media (min-width: 600px) and (max-width: 960px) {
  header {
    justify-content: center;
    gap: 1.5rem;
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 1rem;
  }
}